body {}

nav {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navrechts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr;

}

.eerstedeel {
    font-size: 16px;
    line-height: 1.4;
}

.search-bar {
    justify-content: start;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.background {
    background-color: lightgray;
}


.derdedeel{
display: grid;
grid-template-columns: repeat(6, 1fr);
}

.footerkolom{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.onderkant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}