* {
    margin: 0;
}

body {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .button{
    font-size: 10px;
    width: 100px;
    height: 20px;
    border-radius: 12px;
    border-color:#B3B3B3 ;
    }

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navrechts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



main {
    display: grid;
    grid-template-columns: 1fr;

}

.hero {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
.search-bar {
    justify-content: center;
}
.button2{
    border-radius: 12px;
    font-size: 10px;
    border-color:#B3B3B3 ;
}
.search{
    border-radius: 12px;
}

}
.products{
    .background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: lightgray;
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
    /* margin-left: 5px; */
}

.strik {
    width: 100%;
}
.background{

    li{ 
        width: 150px;
        height: 200px;
        justify-self: center;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    } 
}
}




footer{
   .laatstesection {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.titel-list{
    font-weight: bold;
}

.footernavigatie {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    
    

}




.legalpages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1E1E1E;
    color: #B3B3B3;

}

form {
    background-color: #E6B600;
    color: #FFFFFF;
} 
@media (min-width: 768px){
    .footernavigatie{
       grid-template-columns: repeat(6, 1fr);
}
    

}
}


