p {
    font-weight: 500;
}

button {
    background-color: white;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navrechts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.hero{
    margin-top: 400px;
}